# Ignore everything
*

# But not these files
!.gitignore
!car-object-detection-yolo-train.ipynb
!make dataset.ipynb
!scrape semi auto v4.ipynb
!scrape semi auto v5.ipynb
!test model realtime.ipynb
!model training.ipynb
!yolo11n.pt
!yolo11s.pt
!multi_label_carparts_resnet18.pt
!test_model_2.ipynb
!car_multi_model.pt
